@media screen and (max-width: 768px) {
    .site-header {
        display: flex;
        justify-content: center;
    }

    .lessons {
        display: flex;
        justify-content: center;
    }

    

   
    
}



